.alpha {
  margin: auto;
  max-width: 700px; /*must match width of content text box*/
}

.delta {
  margin: auto;
  max-width: 900px;
}

#title, #slug, #category, #tags, #details {
  width: 400px;
}

#blurb, #image {
  width: 500px;
}

#details {
  width: 650px !important; 
}

#submit {
  width: 150px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  border-radius: 0px;
}

.btn .btn-block .btn-lg .btn-primary {
  background-color:#3498db;
  border-color: #3498db;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Allow a sticky footer */
html,
body {
 margin:0;
 padding:0;
 height:100%;
}

#container {
 min-height:100%;
 position:relative;
 color: #f6f6f6;
}

#footer {
 position:relative;
 bottom:0;
 width:100%;
 height:100px;   /* Height of the footer */
 background: #f6f6f6;
}

#footer .copyright {
 padding-top: 40px;
 font-size: 13px;
 color: gray; 
 /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;*/
}

#space {
  padding-left: 30px;
}

ol {
  font-size: 20px;
  color:#C9CFD4;
  margin-left: 15px;
}

li table {
  vertical-align: middle;
  display: inline-block;
}

.fa-chevron-up:hover, .fa-chevron-down:hover {
  color: #7F8C8D;
}

.fa-chevron-up:selected, .fa-chevron-down:selected {
  color: #7F8C8D;
}

.fa-chevron-up:visited, .fa-chevron-down:visited {
  color: #7F8C8D;
}

a img:hover {
  opacity: 0.8;
}

/* unvisited link */
a:link {
  color: #3498db;
}

/* visited link */
a:visited {
  color: #3498db;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  color: #3498db !important;
}

textarea { 
  resize: vertical; 
}

.delete, .close, .edit {
  background: none;
  border: none;
}

.delete:hover, .close:hover {
  color: #E74C3C !important;
}

.edit:hover {
  color: #3498db !important;
}

/* fit picture to browser size*/
#banner {
  text-align: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.badge {
  background: #f6f6f6 !important;
  color: gray !important;
}

input, textarea {
  display: block;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin: 0;
  font: inherit;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  -webkit-writing-mode: horizontal-tb;
}


@media screen and (max-width: 768px) {
  #footer {
   position:relative;
   bottom:0;
   width:100%;
   height:250px;   /* Height of the footer */
   background: #f6f6f6;
  }

  #thumbnail {
    width: 100px;
    margin-right: 20px ;
    margin-left: 20px;
  }
  
  /* remove indentation from list*/
  ol {
    padding: 0;
    list-style-type: none;
  }

  #middle-row {
    width: 150px;
  }

}