.alpha {
  margin: auto;
  max-width: 600px; /*must match width of content text box*/
}

.delta {
  margin: auto;
  max-width: 1000px;
}

#title, #slug {
  width: 300px;
}

#content{
  width: 600px !important; /*must match width of container (alpha)*/
}

#submit {
  width: 150px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  border-radius: 0px;
}

.btn .btn-block .btn-lg .btn-primary {
  background-color:#3498db;
  border-color: #3498db;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
}

/* Allow a sticky footer */
html,
body {
 margin:0;
 padding:0;
 height:100%;
}

#container {
 min-height:100%;
 position:relative;
 color: #f6f6f6;
}

#footer {
 position:relative;
 bottom:0;
 width:100%;
 height:100px;   /* Height of the footer */
 background: #f6f6f6;
}

#footer .copyright {
 padding-top: 40px;
 font-size: 13px;
 color: gray; 
 /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;*/
}

#space {
  padding-left: 30px;
}

ol {
  font-size: 20px;
  color:#C9CFD4;
  margin-left: 15px;
}

li table {
  vertical-align: middle;
  display: inline-block;
}

.fa-chevron-up:hover, .fa-chevron-down:hover {
  color: #7F8C8D;
}

.fa-chevron-up:selected, .fa-chevron-down:selected {
  color: #7F8C8D;
}

.fa-chevron-up:visited, .fa-chevron-down:visited {
  color: #7F8C8D;
}

a img:hover {
  opacity: 0.8;
}

/* unvisited link */
a:link {
  color: #3498db;
}

/* visited link */
a:visited {
  color: #3498db;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  color: #3498db;
}

textarea { 
  resize: vertical; 
}

.delete {
  background: none;
  border: none;
}

.delete:hover {
  color: #E74C3C;
}
