<template name="idea">


  <li class="animated fadeIn">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="document">
          <tr>

            <td>
              {{> actionBar}}
            </td>

            <td>
              <div class="middle-link">
                <h3 style="margin-top: 0px"><a title={{title}} id="middle-link" href="/ideas/{{slug}}">{{title}}</a></h3>
                <small>by <a href="{{ownerName}}">{{ownerName}}</a>
                 • {{submittedAgo}}
                 • <a href="/ideas/{{slug}}#comments">{{numComments}}</a>
                 {{#if isOwner}} 
                 • <a class="edit" style="cursor:pointer">Edit</a>
                 • <a class="delete" href="#">Delete</a>
                 {{/if}}
               </small>

             </div>
           </td>

         </tr>
       </table>
     </div>
   </div>
 </li>

</template>