/* general styles */
h1, h2, h3, h4, h5, h6, p, small {
  color: #58595b !important;
}

h1.title {
  cursor:pointer;
}

#title, #blurb, #image, #details, #slug, #tags, #goal, #duration, #location, #rewards {
  width: 100%;
}

#details, #rewards {
  max-width: 750px;
}

.delta {
  margin: auto;
  max-width: 1170px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* nav */


.navbar {
  border: none !important;
  margin-bottom: 0px;
  border-radius: none !important;
}

.navbar-default {
  background-color: #fff !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
}

.navbar-default .navbar-brand {
  font-size: 24px;
  color: #58595b !important;
}

.navbar-default .navbar-brand:hover {
  font-size: 24px; 
  /*color: #58595b  !important;*/
}

.navbar-default .navbar-nav>li>a {
  color: #666 !important;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000 !important;
  background-color: none !important;
}

.navbar-default .navbar-nav>.open>a {
  background-color: none !important;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 1px !important;
}


.dropdown-menu>li>a {
  color: #000 !important;
}
.dropdown-menu>li>a:hover {
  color: #000 !important;
  background-color: #f9f9f9 !important;
}

#submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  outline: 0 !important;
}

.btn:active {
  opacity: 0.6 !important;
  box-shadow: none !important; 
}

.actionBar {
  width: 100px;
}

.tooltip-inner {
  font-size: 11px;
}

ol {
  padding-left: 0;
  color: #666;
  list-style-type: none;
  margin-left: 0px;
}
ol ul {
  padding: 0px !important;
}

#login-dropdown-list {

}

.nav .open>a {
  background: none;
}


.nav .open>a:hover {
  background: none;
}

html,
body {
  margin:0;
  margin-top: 35px !important;
  padding:0;
  height:100%;
  background-color: #f9f9f9 !important;
}

#container {
 min-height:100%;
 position:relative;
 color: transparent;
}

#footer {
 position:relative;
 bottom:0;
 width:100%;
 height:100px;   /* Height of the footer */
 background: transparent;
}

#footer .copyright {
 padding-top: 40px;
 font-size: 13px;
 color: #000; 

}

#space {
  padding-left: 30px;
}

.document {
  margin: 5px 0;
}

.nav-tabs.nav-justified>li>a {
  color: #666 !important;
}

li table {
  vertical-align: middle;
  display: inline-block;
}

.btn-mobile {
  display:none;
}

#tos:hover, #privacy:hover, #developers:hover, #artists:hover, #about:hover {
  text-decoration: underline !important;
}


/* fit picture to browser size*/
#banner {
  text-align: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.badge {
  background: transparent !important;
  color: #666 !important;
}

#badge-lg {
  font-size: 36px; 
  margin-top: 20px;
}

.actions {
  font-size:20px; 
  color:#BDC3C7; 
  list-style:none;
}


input {
  max-width: 450px;
  outline: 0;
  display: block;
  padding: 6px 12px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: inset 0 2px 3px -3px rgba(200,200,200,0.5);
  margin: 0;
  font: inherit;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  -webkit-writing-mode: horizontal-tb;
}

textarea { 
  resize: vertical;
  outline: 0;
  display: block;
  padding: 6px 12px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: inset 0 2px 3px -3px rgba(200,200,200,0.5);
  margin: 0;
  font: inherit;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  -webkit-writing-mode: horizontal-tb;
}


#thumbnail {
  height:290px;
  width: auto;
}



#tab {
  border-top: 0px; 
  border-top-left-radius: 0px; 
  border-top-right-radius:0px;
}

.middle-link p{

}

.jumbotron{
  background-color: transparent !important;
}

/* To accomodate the sidebar */
.container {

}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a:hover{
    background-color: #f6f6f6 !important;
  }

  .nav-tabs.nav-justified>.active>a:hover{
    background-color: #fff !important;
  }
}

@media screen and (max-width: 768px) {

  .user-photo {
    display:none;
  }
  
  #bs-example-navbar-collapse-1 {
    display:none;
  }

  .container {
    margin-left: none !important;
    width: auto !important;
  }

  
  .dropdown-menu {
    float: right !important;
  }
  body, html {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }

  #footer {
   position:relative;
   bottom:0;
   width:100%;
   height:250px !important;   /* Height of the footer */
   background: transparent;

 }

/* #thumbnail {
  width: 67px;
  margin-right: 20px ;
  }*/

  /* remove indentation from list*/
  ol {
    padding: 0;
    list-style-type: none;
  }

  ol ul {
    padding: 0;
  }

  .middle-link {
    margin-left: 0px;
  }

  .actionBar .badge {
    font-size: 12px !important;
  }

  .actions {
    margin: 0px;
  }

  .actionBar {
    width: 50px;
  }

  .navbar-text{
    margin-left: 15px;
  }

  .navbar-form {
    border: 0px !important;
    margin-top: 0px !important;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
  }

  .navbar-toggle {
    float:left !important;
    margin-left: 15px;
    border: none !important;
    border-bottom: transparent !important;
  }


  .navbar-toggle:link {
    background: none !important;
  }
  .navbar-toggle:hover {
    background: none !important;
    color: #000;
  }

  .navbar-toggle:active {
    background: none !important;
  }

  .navbar-toggle:visited {
    background: none !important;
  }

  input {
    width: 100% !important;
  }

  .ghost {
    display:none !important;
  }

  .btn-mobile {
    display: block;
  }
}


.editable {
  outline: 0;
  color: #000;
  padding: 6px 12px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  width: 100% !important;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  -webkit-writing-mode: horizontal-tb;
}

.non-editable {
  width: 100% !important;
  opacity: 0.3;
}

/* sortBar*/
#sort-menu{
  margin-top: 35px;
}

/* nav side menu */
.search-query {
  margin-top: 7.5px !important;
  margin-left: 15px !important;
  width:240px;
  margin:auto;
  background-color: #f9f9f9;
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s;
}

.search-query:focus{
 width:280px;
 background-color: #fff;
}   

.search-query-mobile {
  line-height: 20px;
  width:100%;
  maring: auto;
  background-color: #f6f6f6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.search-query-mobile:focus{
  background-color: #fff;
}   

#sidebar-wrapper {
  display:none;
  top: 50px;
  left: -250px;
  width: 250px;
  background-color: #f9f9f9;
  color: #58595b;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  outline: 0;
  color: #58595b;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: #ddd;
  color: #000;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav .dropdown-menu {
  margin-left: 20px;
}

.sidebar-nav .dropdown-menu>li>a {
  padding: 3px 0px !important;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s; /*speed animation of sidebar's slide*/
  margin-left: -250px;
}
@media (min-width: 768px) {


  #sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s; /*speed animation of sidebar's slide*/
  }
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    display:block;
  }

  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* categories */

.categories li {
  line-height: 30px !important;
}

/* comments */
#comment-box {
  width: 100% !important;  
  max-width: none !important;
  height: 150px;
  background-color: #f9f9f9;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}


#comment-box:focus{
  background-color: #fff;
}   

.user-photo {
  padding: 0px;
  border-radius: 3px;
  margin:0px;
  border: none !important;
}

.panel {
  position:relative;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}

.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}

.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}


