<template name="project">

  <div class="col-md-4">
    <div class="crowdfund animated fadeIn">
      <div class="thumbnail" style="padding: 0">
        <div style="padding:5px">
          <a title={{title}} href="/projects/{{slug}}">
            {{>thumbnail}}
          </a>
        </div>
        <div class="caption">
          <h2><a href="/projects/{{slug}}">{{title}}</a></h2>
          <p>by {{ownerName}}</p>
          <p>{{blurb}}</p>
        </div>
        <div class="modal-footer" style="text-align: left">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{funded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{funded}}%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><b>{{funded}}%</b><br/><small>FUNDED</small></div>
            <div class="col-md-4"><b>${{pledged}}</b><br/><small>PLEDGED</small></div>
            <div class="col-md-4"><b>{{duration}}</b><br/><small>DAYS LEFT</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  



  <script>

  $('.crowdfund').hover(
    function(){
      $(this).stop().animate(
        {marginTop: '-5'}, 100, 'linear'   
        );//end animate
     },//end function
     function(){
      $(this).stop().animate(
        {marginTop: '0'}, 100, 'linear'
        );//end animate
    }//end function
);//end hover
  </script>
</template>