<template name="newProject">
  {{#if currentUser}}

  {{> nav}}


  <div class="container animated fadeIn">
    <div class="row">
      <div class="col-sm-12">



        <form class="addProjectForm" id="form">

          <div class="animated fadeIn">
            <h1>New Project</h1>
            <label>Title</label>
            <h1 style="margin-top: 0px"><input class="editable" id="title"></h1>
            <label>Blurb</label>
            <h1 style="margin-top: 0px"><small><input class="editable" id="blurb"></small></h1>
            <label>Project Image</label>
            <input class="editable" id="image">
            <label>Details</label>
            <textarea class="editable" id="details" rows="6"></textarea>
            <label>Permalink</label>
            <span id="helpBlock" class="help-block">spark-app.meteor.com/projects/<b><span id="liveEdit">your-unique-project-address</span></b></span>
            <input class="editable" id="slug">
            <label>Tags</label>
            <input class="editable" id="tags">
            <label>Funding Goal</label>
            <input class="editable" id="goal">  
            <label>Duration</label>
            <input class="editable" id="duration">
            <label>Location</label>
            <input class="editable" id="location">   
            <label>Rewards</label>
            <textarea class="editable" rows="6" id="rewards"></textarea> 
          </div>
          <input id="submit" type="submit" value="Submit for Review" class="btn btn-lg btn-success">


        </form>
      </div>
    </div>
  </div>
  {{> footer}}

  {{else}}
  {{#unless loggingIn}}
  {{>pageNotFound}}
  {{/unless}}
  {{/if}}



  <script>

  $('#slug').keyup(function(){
    var text = $('#slug').val();
    $('#liveEdit').text(text);
  });

  document.title = "New Project"
  window.onload = function() {
    document.getElementById("title").focus();
  };
  </script>

</template>
