<template name="commentBox">
  <br>
  <div class="col-sm-1" style="padding-left:0px !important">
    <img class="user-photo" src="{{avatar}}" style="width:50px">
  </div>
  <div class="col-sm-11" style="padding-right:0px !important">
    <div class="panel panel-default">
      <div class="panel-heading">
        Write
        <p class='pull-right'><span class="text-muted">Markdown Supported</span></p>
      </div>
      <div class="panel-body">
        <textarea type="text" id="comment-box" placeholder="What do you think?"></textarea><br>
        <button id="submit-comment" type="submit" class="btn btn-primary pull-right">Comment</button>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div>
</template>

<template name="comment">
  <div class="animated fadeIn">
    <div class="col-sm-1" style="padding-left:0px !important">
      <center>
        <img class="user-photo" src="{{ownerAvatar}}" style="width:50px">
      </center>
    </div>

    <div class="col-sm-11" style="padding-right:0px !important" >
      <div class="panel panel-default">
        <div class="panel-heading">
          
          {{#if isOwner}}
          <strong>You</strong> <span class="text-muted">commented on {{createdAt}}</span>
          {{else}}
          <strong>{{ownerName}}</strong> <span class="text-muted">commented on {{createdAt}}</span>
          {{/if}}

        </div>
        <div class="panel-body">
          {{#markdown}}{{text}}{{/markdown}}
        </div>
      </div>
    </div>
  </div>
</template>