<template name="profile">
	{{>nav}}
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-4">
					<img src="{{avatar}}">
					<h3>{{username}}</h3>
					<br>
					<p>{{points}} points</p>
					<p>{{followers}}Followers</p>
				</div>
				<div class="col-md-8">
					<h3>Ideas</h3>
					{{#each myIdeas}}
					{{>myIdea}}
					{{/each}}
					<h3>Projects</h3>
					{{#each myProjects}}
					{{>myProject}}
					{{/each}}
				</div>
				
			</div>
		</div>
		
	</div>
	

	{{>footer}}
</template>

<template name="myIdea">
	<p><a href="/ideas/{{slug}}">{{title}}</a></p>
</template>
<template name="myProject">
	<p><a href="/projects/{{slug}}">{{title}}</a></p>
</template>

<template name="settings">
	{{>nav}}
	<div class="container">
		<h3>Change Password</h3>
		<div class="panel panel-default">
			<div class="panel-body">

			</div>
		</div>
		<h3>Change Avatar</h3>
		<div class="panel panel-default">
			<div class="panel-body">
			</div>
		</div>
	</div>

	{{>footer}}
</template>