<template name="profile">
	{{>nav}}
	<div class="container animated fadeIn">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">

			<div class="panel panel-default">
				<div class="panel-body">
					<center>
						<img class="user-photo" src="{{avatar}}" width="150px">
						<h3>{{username}}</h3>

						<hr>

						<p><b>{{points}}</b> points</p>
						<p><b>{{followers}}</b> followers</p>
						<p>Joined {{joinDate}} </p>

						<hr>

						<h3>Ideas</h3>
						{{#each userIdeas}}
						{{>userIdea}}
						{{/each}}
						<h3>Projects</h3>
						{{#each userProjects}}
						{{>userProject}}
						{{/each}}

					</center>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>


	</div>


	{{>footer}}
</template>

<template name="userIdea">
	<p><a href="/ideas/{{slug}}">{{title}}</a></p>
</template>
<template name="userProject">
	<p><a href="/projects/{{slug}}">{{title}}</a></p>
</template>

<template name="settings">
	{{>nav}}
	{{#if currentUser}}
	<div class="container animated fadeIn">

		<center><h2>Settings</h2></center>
		<br>
		<div class="col-md-3">
			&nbsp;
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<center><h3>Change password</h3>
						<hr>


						<div class="form-group">
							<input id="current-password" type="password" class="form-control" placeholder="Current password">
						</div>
						<div class="form-group">
							<input id="new-password" type="password" class="form-control" placeholder="New password">
						</div>
						<div class="form-group">
							<a id="change-password" href="#" class="btn btn-default">Update password</a>
						</div>

						<br>

						<h3>Avatar</h3>
						<hr>

						
						<div class="form-group">
							<img class="user-photo" src="{{avatar}}" width="50px">
						</div>

						<div class="form-group">
							<input id="avatar-link" type="text" class="form-control" placeholder="Link to image">
						</div>
						<div class="form-group">
							<a id="change-avatar" href="#" class="btn btn-default">Update avatar</a>
						</div>

					</center>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			&nbsp;
		</div>

	</div>
	{{else}}
	{{>pageNotFound}}
	{{/if}}

	{{>footer}}
</template>